* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2bea0;
  padding: 30px 102px;
  font-size: 20px;
  font-family: "Sulphur Point", sans-serif;
  /* position: fixed; */
  bottom: 0;
  width: 100%;
}
