.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2bea0;
  padding: 30px 102px;
  font-size: 20px;
  font-family: "Sulphur Point", sans-serif;
  /* position: fixed; */
  bottom: 0;
  width: 100%;
}

@media (max-width: 480px) {
.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer-left {
  padding-bottom: 20px;;

}
}