.home-banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #d89986;
  font-family: "Dosis", sans-serif;
}

.home-banner-left {
  width: 50%;
  padding: 10rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-banner-left h1 {
  font-size: 50px;
}

.home-banner-left p {
  font-size: 25px;
}

.home-banner-right {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-banner img {
  max-width: 60%;
  height: auto;
}

.kuizu-icons {
  display: flex;
  justify-content: space-between;
  padding: 100px 0px;
  box-sizing: border-box;
  font-family: "Dosis", sans-serif;
}

.kuizu-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kuizu-icon-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;
  border: 3px solid #d89986;
}


.kuizu-icon img {
  width: 65%;
}

.kuizu-icon h3 {
  font-weight: 800;
  font-size: 25px;
  padding: 20px 0px;

}

.kuizu-icon p {
  margin-top: 10px;
  font-size: 1.2rem;
  width: 50%;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

@media (max-width:1279px) { 

  .home-banner-left {
    width: 60%;
  }

  .home-banner img {
    max-width: 80%;
    height: auto;
  }

}

@media (max-width:1137px) { 

  .home-banner-left {
    width: 60%;
    padding: 8em;
  }

  .home-banner-left h1 {
    font-size: 34px;
  }

  .home-banner img {
    max-width: 80%;
    height: auto;
  }

}

@media (max-width:950px) { 

  .home-banner-left {
    width: 70%;
    padding: 5em;
  }

  .home-banner-left h1 {
    font-size: 30px;
  }

  .home-banner-left p {
    font-size: 21px;
  }

  .home-banner img {
    max-width: 90%;
    height: auto;
    padding-right: 20px;
  }

  .kuizu-icon h3 {
    font-weight: 800;
    font-size: 21px;
    padding: 20px 0px;
  
  }
  
  .kuizu-icon p {
    margin-top: 10px;
    font-size: 18px;
    width: 50%;
    text-align: center;
    padding: 0px;
    margin: 0px;
  }

}

@media (max-width:950px) {
  .home-banner-left {
    width: 100%;
  }

  .home-banner-left h1 {
    font-size: 35px;
  }

  .home-banner-left p {
    font-size: 22px;
  }

  .home-banner-right {
    display: none;
  }
}

@media (max-width:768px) {
  .kuizu-icons {
    display: flex;
    flex-direction: column;
  }

  .kuizu-icon p{
    padding-bottom: 20px;
  }
}

@media (max-width:529px) {
  .home-banner-left {
    padding: 6.5em;
    
  }

  .home-banner-left h1 {
    font-size: 2.5rem;
  }

  .home-banner-left p {
    font-size: 22px;
  }
}

@media (max-width:447px) {
  .home-banner-left {
    padding: 5em;
    
  }

  .home-banner-left h1 {
    font-size: 2rem;
  }

  .home-banner-left p {
    font-size: 22px;
  }
}


