.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Unica One", cursive;
  background-color: #f2bea0;
  padding: 0 200px 0px 200px;
  height: 130px;
}

.navbar-left {
  display: flex;
}

.logo {
  display: block;
  margin: 0 auto;
  width: 250px;
}

.navbar-right {
  text-align: right;
}

.navbar-right {
  font-size:  33px;
}

.navbar-right a:hover,
  .nav-active {
    color: #e97e5d;
  }

.navbar a:not(:last-child) {
  margin-right: 60px;
}



