* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.quizlist-body {
  font-family: "Dosis", sans-serif;
  padding: 30px 102px;
}

.quizlist-body li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
