.quizlist-body {
  font-family: "Dosis", sans-serif;
  padding: 30px 102px;
  min-height: 100vh;
}


.quizlist-title {
  font-size: 48px;
  text-align: center;
  padding-bottom: 30px;
}

.quizlist-body li {
  list-style-type: none;
  font-size: 25px;
}

.quizlist-body li:not(:last-child) {
  margin-bottom: 15px;
}

a {
  text-decoration: none;
}

.quizlist-container {
  background-color: #F9D698;
  padding: 20px;
  border-radius: 15px;
}

.description {
  padding-top: 10px;
  font-size: 22px;
}

.quiz-link {
color:black;
text-decoration: underline;
text-transform: uppercase;
font-weight: bolder;
}

@media (max-width:650px) {

  .quiz ul{
    padding: 0px;
  }

  .quizlist-body {
    text-align: center;
  }
}

