* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.quizlist-body {
  font-family: "Dosis", sans-serif;
  padding: 30px 102px;
  min-height: 100vh;
}


h1 {
  font-size: 40px;
  text-align: center;
  padding-bottom: 20px;
}

.quizlist-body li {
  list-style-type: none;
  font-size: 25px;
}

.quizlist-body li:not(:last-child) {
  margin-bottom: 15px;
}

a {
  text-decoration: none;
}

.quizlist-container {
  background-color: #F9D698;
  padding: 20px;
  border-radius: 15px;
}

.description {
  padding-top: 10px;
  font-size: 22px;
}

.quiz-link {
color:black;
text-decoration: underline;
text-transform: uppercase;
font-weight: bolder;
}

